name: Go
on:
  push:
    tags:
      - v*
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v6

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
        with:
          go-version: 'stable'
          check-latest: true

      - name: Vet
        run: go vet ./...

      - name: Test
        run: go test -v ./...

      - name: Run goreleaser in release mode
        if: success() && startsWith(github.ref, 'refs/tags/v')
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
