name: golangci-lint
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6

      - uses: actions/checkout@v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.6
